body{
    background-color: #dae4ee;
}

.home{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.8), 
        rgba(0,0,0,0.2)),
        url('../imgs/bg2.png');
    background-size: cover;
}

.intro{
    color: whitesmoke;
    padding: 7% 20%;
    text-align: justify;
    font-size: 17px;
    font-weight: 100;
}
.name{
    font-size: 5em;
    font-weight: 500;
}

